<% include partials/header.ejs%>
<section class="section-cnt">
    <h1>Hi, everyone!!!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius illum molestias odio odit officia perferendis
        quasi, repudiandae saepe? Amet debitis distinctio expedita harum in laboriosam provident quis, sunt velit vero!</p>
</section>
<section class="section-cmt">
    <form class="section-new__form" action="" method="">
        <input type="text" name="text" placeholder="text">
        <button>Submit!</button>
    </form>
</section>
<section>
    <a href="/secret">Go to the Secret Page!</a>
</section>


<% include partials/footer.ejs%>