<% include partials/header.ejs%>
<section class="section-cnt">
    <h1>Hello, this is the secret page!!!</h1>
    <img src="https://images.unsplash.com/photo-1520618821905-f816063ce87e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=390d594dc89b1c93fa52f3a8a31856b8&auto=format&fit=crop&w=900&q=60" alt="">
</section>
<section>
    <a href="/">&lsaquo;&lsaquo; Go Back</a>
</section>

<% include partials/footer.ejs%>