/*=========================================
  SECTION-INFO-CNT STYLES
=========================================*/
.section-info {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 80px;
  & hr {
    clear:both;
    box-shadow: 0 0 1px rgba($bgc-hidden-nav, 0.5);
    opacity: 0.1;
    width: 100%;
  }
}
h2 {
  color: $bgc-hidden-nav;
  font: 400 42px/52px $font-family-varela;
}

.second {
  margin-top: 10px;
  & h2 {
    margin-bottom: 75px;
  }
}

.section-info__block {
  width: 90%;
  & .lnr {
    font-size: $default-font-size + 28;
    color: $btn-blue;
  }
  & h3 {
    color: $bgc-hidden-nav;
    font: 300 26px/34px $font-family-lato;
  }

  & p {
    color: $color-text;
    font: 300 18px/26px $font-family-lato;
  }
}

.iphone-photo {
  overflow: hidden;
  & img {
    vertical-align: middle;
    width: 100%;
  }
}

.map {
  overflow: visible;
  & img {
    margin-top: 40px;
    vertical-align: middle;
    width: 100%;
  }
}
.partners {
  margin-top: 50px;
  margin-bottom: 0;
  & ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 25px;
    & li {
      transform: translate(-45px, 0px);
      margin-right: 15px;
    }
  }
}
h4 {
  font: 400 12px/22px $font-family-lato;
  text-transform: uppercase;
}
.btn-block {
  margin-top: 75px;
}

.section-iphone-cnt {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
  background-color: $main-bgc;
  & hr {
    width: 40px;
    height: 2px;
    background-color: $btn-blue;
    border: none;
  }
  & h2 {
    margin: 0 auto 30px;
    text-align: center;
  }

  & h4 {
    margin: 30px auto;
    color: $color-text;
  }

}

.iphone-cnt__screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px;
  padding: 0;
  width: 100%;
  & li {
    margin-left: 10px;
    margin-right: 10px;
  }

  & .screen-item img {
    box-shadow: 10px 10px 16px 0px rgba(61, 61, 62, 0.15);
  }

  & .main-screen-item {
    margin: 0;
  }

  & img {
      width: 200px;
  }

}

.form-group {
  position: relative;
  & .btn-green {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 12px 16px;
  }
}

@media screen and (max-width: 759px) {
  .section-info.second {
    padding: 10px 0;
  }
}

/* Media Queries - Small screen / tablet  760px*/
@media screen and (min-width: $screen-xs-min) {
  h2 {
    font-size: 36px;
  }
}


/* Media Queries - Small screen / tablet  760px*/
@media screen and (min-width: $screen-sm-min) {
  .section-info {
    margin-top: 110px;
    flex-wrap: nowrap;
  }
  .second {
    padding-top: 130px;
  }
  .section-info__block {
    width: 43%;
  }
  .iphone-photo {
    overflow: visible;
    & img {
     transform: translate(-390px, -100px);
      vertical-align: middle;
      width: auto;
    }
  }
  .map {
    width: 45%;
    overflow: visible;
    & img {
      transform: translate(-50px, 0px);
      vertical-align: middle;
      width: auto;
    }
  }
  .third {
    margin-top: -10px;
  }

  .partners {
    & ul {
      & li {
        margin-right: 40px;
      }
    }
  }

  .section-iphone-cnt {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .iphone-cnt__screen {
    & img {
      width: auto;
    }
  }

}


/* Media Queries 920px */
@media screen and (min-width: $screen-md-min) {

}