<% include header %>
<h1>The Posts Page</h1>

<% post.forEach( el => { %>
    <ul>
        <li><strong><%= el.title %></strong><em> - author <%= el.author %></em></li>
    </ul>
<% }) %>

<% include footer %>