<% include partials/header.ejs %>

<section class="image-section">
    <aside class="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')">All Images</button>
    </aside>
    <aside class="main-cnt">

    </aside>
</section>


<% include partials/footer.ejs %>