<% include partials/header.ejs %>
<section class="section-new">
    <h1>New Animal</h1>
    <div class="section-new__form">
        <label>Title</label>
        <input id="itemTitle" type="text" name="title" placeholder="Title">
        <label>Category</label>
        <input id="itemCtg" type="text" name="category" placeholder="Title Category">
        <label>Image url</label>
        <input id="itemImg" type="text" name="image" placeholder="Image url">
        <button>Submit</button>
    </div>
</section>
<% include partials/footer.ejs %>
