    <footer>
        <p>&copy;The Little Animals Blog-Site - MarieKam 2018</p>
    </footer>
</div>

<div class="loader">
    <div class="loader-inner">
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/es5-shim.min.js"></script>
<script src="https://oss.maxcdn.com/html5shiv/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/html5shiv/html5shiv-printshiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/respond.min.js"></script>
<![endif]-->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/script/app.js"></script>
</body>
</html>