@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');
@import "normalize.css";

body {
    color: #34495e;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

h1 {
    font-weight: 200;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
}

section {
    padding: 10px 12%;
}

ul {
    /*padding: 5px 18px;*/
}

li {
    /*list-style: circle;*/
}

p {
    margin-bottom: 10px;
}



