@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');
/*----------------------------------------------------------------------

	MASTER STYLESHEET

	Project:        ''
	Version:        1.0
	Author:         MarieKam
	Primary use:    ''
	Email:			kammarvic@gmail.com
	Follow:
	Like: 			https://www.facebook.com/marina.v.kam
	Website:

-----------------------------------------------------------------------*/

// Custom
// =================================================================

@import 'includes/mixins'; // Mixins
@import 'includes/variables'; // Variables

//==========================================================
//Default Custom Styles
//==========================================================
@import "includes/base";

//==========================================================
//Custom Styles
//==========================================================
@import "includes/header";
@import "includes/section";
