@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');
@import "normalize.css";

body {
    color: #34495e;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 400;
    margin-bottom: 10px;
}

section {
    padding: 10px 12%;
}

ol {
    padding: 5px 18px;
}

li {
    list-style: circle;
}

p {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

#notes,
.preview {
    margin: 0 auto 16px;
    width: 75%;
}

.note, .preview {
    border-radius: 8px;
    padding: 10px;
    position: relative;
}

.note {
    background-color: #fdffb7;
    border: 3px solid #d4daa7;
    margin: 16px 0;
}

.preview {
    background-color: #b8ffba;
    border: 3px solid #4caf50;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.del {
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
    color: red;
}

.remove {
    background-color: #ff0000;
}

.remove:hover {
    background-color: #b20e0e;
}

.lucky {
    background-color: #63e168;
}

.lucky:hover {
    background-color: #4caf50;
}

form {
    text-align: center;
}


input {
    width: 50%;
}

input {
    padding: 9px;
    outline: none;
}

button {
    background-color: #ff9494;
    border: none;
    border-radius: 5px;
    padding: 12px;
}

button:hover {
    cursor: pointer;
    background-color: #fe2222;
}

button:focus {
    outline: none;
}

