<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YelpCamp Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<body>
<div class="wrapper">
<header>
    <a href="/" class="header-logo">YelpCamp</a>
    <nav class="header-nav">
        <a href="#menu" class="menu-link"><i class="fas fa-bars"></i></a>
        <nav class="header__nav" id="menu" role="navigation">
            <ul class="nav-menu">
                <% if (!currentUser) { %>
                    <li class="nav-menu__item"><a href="/login" class="nav-menu__link">LogIn</a></li>
                    <li class="nav-menu__item"><a href="/register" class="nav-menu__link">SigIn</a></li>
                    <li class="nav-menu__item"><a href="#" class="nav-menu__link"><i class="fas fa-phone"></i> 8(098)098-88-88</a></li>
                <% } else {%>
                    <li class="nav-menu__item"><a href="#" class="nav-menu__link">Hi, <%= currentUser.username %>!</a></li>
                    <li class="nav-menu__item"><a href="/logout" class="nav-menu__link">LogOut</a></li>
                    <li class="nav-menu__item"><a href="#" class="nav-menu__link"><i class="fas fa-phone"></i> 8(098)098-88-88</a></li>
                <% } %>
            </ul>
        </nav>
    </nav>
</header>
<div class="alert">
    <% if (error && error.length > 0) { %>
        <div class="alert-msg danger-msg">
            <%= error %>
        </div>
    <% } %>
    <% if (success && success.length > 0) { %>
        <div class="alert-msg success-msg">
            <%= success %>
        </div>
    <% } %>
</div>