<% include partials/header.ejs%>

<section class="landing-header">
    <div class="header landing">
        <h1>Welcome To YelpCamp!</h1>
        <hr class="first">
        <hr class="second">
        <hr class="third">
        <a class="header-btn__link" href="/campgrounds">View All Campgrounds</a>
    </div>
</section>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include partials/footer.ejs%>