<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RESTful Blog Application</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<div class="wrapper">
    <header>
        <a href="/" class="header-logo"><i class="code icon"></i>Blog Site</a>
        <nav class="header-nav">
            <a href="#menu" class="menu-link"><i class="fas fa-bars"></i></a>
            <nav class="header__nav" id="menu" role="navigation">
                <ul class="nav-menu">
                    <li class="nav-menu__item"><a href="/" class="nav-menu__link">Home</a></li>
                    <li class="nav-menu__item"><a href="/blogs/new" class="nav-menu__link">New Post</a></li>
                </ul>
            </nav>
        </nav>
    </header>



