<section class="testimonials  wow fadeIn">
    <div class="testimonials-img__btn">
        <a href="#" class="btn-arrow left"><i class="fa fa-chevron-left"></i></a>
        <a href="#" class="btn-arrow right"><i class="fa fa-chevron-right"></i></a>
    </div>
    <div class="testimonials-img">
        <img class="demo-first" src="/style/img/user1.jpg" alt="">
        <img class="demo-second" src="/style/img/user2.jpg" alt="">
        <img class="demo-third" src="/style/img/user3.jpg" alt="">
    </div>
    <div class="testimonials-cnt">
        <div class="testimonials-cnt__first">
            <h4>New Providence is the great UI kit</h4>
            <p class="testimonials-txt">“FIRST Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”</p>
            <div class="testimonials-rating">
                <i class="fas fa-star gold-star"></i>
                <i class="fas fa-star gold-star"></i>
                <i class="fas fa-star gold-star"></i>
                <i class="fas fa-star gold-star"></i>
                <i class="fas fa-star gold-star"></i>
            </div>
            <p class="testimonials__customer-name">Cameron Downman</p>
        </div>
        <div class="testimonials-cnt__second">
            <h4>New Providence is the great UI kit</h4>
            <p class="testimonials-txt">“SECOND Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”</p>
            <div class="testimonials-rating">
                <i class="fas fa-star gold-star"></i>
                <i class="fas fa-star gold-star"></i>
                <i class="fas fa-star gold-star"></i>
                <i class="fas fa-star gold-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p class="testimonials__customer-name">Cameron Downman</p>
        </div>
        <div class="testimonials-cnt__third">
            <h4>New Providence is the great UI kit</h4>
            <p class="testimonials-txt">“THIRD Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”</p>
            <div class="testimonials-rating">
                <i class="fas fa-star gold-star"></i>
                <i class="fas fa-star gold-star"></i>
                <i class="fas fa-star gold-star"></i>
                <i class="fas fa-star gold-star"></i>
                <i class="fas fa-star gold-star"></i>
            </div>
            <p class="testimonials__customer-name">Cameron Downman</p>
        </div>
    </div>
</section>