<section class="subscribe section-iphone-cnt">
    <h2>Subscribe our newsletters</h2>
    <form class="form-group" action="">
        <input class="btn-input" type="email" placeholder="Your email">
        <a href="#" class="btn-green">Subscribe</a>
    </form>
    <p>We promise to never spam you.</p>
</section>
<section class="subscribe section-info">
    <hr>
</section>
<section class="footer-cnt" id="a-4">
    <div class="footer-txt">
        <a href="#" class="header-nav__link logo"><b>NEW</b>PROVIDENCE</a>
        <p>It was some time before he obtained any answer, and the reply, when made, was unpropitious.</p>
        <a href="#" class="btn-dark">
            <i class="fab fa-apple"></i>
            <span>Dowload on the </span><br><b>App Store</b>
        </a>
        <ul class="socials">
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fab fa-tumblr"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="footer-nvg">
        <div class="footer-nvg__block">
            <h4>Learn more</h4>
            <ul class="footer-nvg__list">
            <li><a href="#">How it works?</a></li>
            <li><a href="#">Meeting tools</a></li>
            <li><a href="#">Live striming</a></li>
            <li><a href="#">Contact method</a></li>
            </ul>
        </div>
        <div class="footer-nvg__block">
            <h4>About us</h4>
            <ul class="footer-nvg__list">
                <li><a href="#">About us</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Privacy police</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="footer-nvg__block">
            <h4>Support</h4>
            <ul class="footer-nvg__list">
                <li><a href="#">F.A.Q.</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Live chat</a></li>
                <li><a href="#">Phone call</a></li>
            </ul>
        </div>
    </div>
</section>

