<section class="switcher" id="a-3">
    <div class="switcher-block first-block">
        <h2>Choose your perfect plan</h2>
        <h4>You are</h4>
        <div class="switcher-toggles">
            <div class="switcher__individual">Individual</div>
            <div class="switcher__company">Company</div>
        </div>
        <p>Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</p>
        <p class="info">Have a bigger team?<a class="switcher-link" href="#">Let‘s talk</a></p>
    </div>
    <div class="switcher-block second-block">
        <div class="switcher-block__starter">
            <h3>Starter</h3>
            <a href="#" class="btn-grey">free</a>
            <h4>Build your schedule every day</h4>
            <ul class="block-list">
                <li><i class="fa fa-check"></i>Unlimeted events</li>
                <li><i class="fa fa-check"></i>Connect Dropbox & Evernote</li>
            </ul>
            <a href="#" class="btn btn-blue">Get Started</a>
        </div>
        <div class="switcher-block__pro">
            <h3>Pro</h3>
            <a href="#" class="btn-grey">$4.99</a>
            <h4>Make your life better</h4>
            <ul class="block-list">
                <li><i class="fa fa-check"></i>Unlimeted events</li>
                <li><i class="fa fa-check"></i>Connect Dropbox & Evernote</li>
                <li><i class="fa fa-check"></i>Personal assistant</li>
            </ul>
            <a href="#" class="btn btn-blue__bgc">Make me a Pro</a>
        </div>
    </div>
</section>