<% include partials/header.ejs%>
<section class="header-cnt">
    <h1 class="header-cnt__title wow fadeInUp">What happens tomorrow?</h1>
    <p class="header-cnt__cnt wow fadeInUp" data-wow-delay=".2s">The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his
        interview with his landlady. His face brightened up, and he began to feel quite convivial.</p>
    <a href="https://vimeo.com/210100290" class="wow fadeInUp popup-vimeo btn-grey" data-wow-delay=".3s" data-effect="mfp-zoom-in"><i class="fa fa-play"></i> Watch Video</a>
    <img class="header-cnt__img wow fadeInUp" src="/style/img/header_iphone.png" data-wow-delay=".4s" alt="iphone-providence">
</section>
<% include partials/includes/section_info.ejs%>
<% include partials/includes/carousel.ejs%>
<% include partials/includes/switcher.ejs%>
<% include partials/includes/subscribe.ejs%>
<% include partials/footer.ejs%>